html,
body {
    background-color: #444;
    height: 100%;
}

header {
    width: 100%;
    height: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    color: #fff;
    font-size: x-large;
    padding: 2% 0;
}

#list {
    background-color: #444;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 100%;
}

a {
    padding: 2px;
    min-width: 25%;
    background-color: #444;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: xx-large;
    font-weight: bold;
}

a:hover {
    background-color: #0f0;
}

a:active {
    background-color: #060;
}

a:visited {
    color: #f0f;
}

img {
    height: 15em;
    aspect-ratio: 1 / 2;
}

img.wide {
    aspect-ratio: 1 / 1.2;
}